.home {
    text-align: center;
    padding: 20px;
  }
  
  .category-select {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #a29292;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 200px;
    height: 300px;
    border-radius: 4px;
  }
  
  .card link {
    color: blue;
  }
  